<header>
    <h2 class="dash-welcome">Welcome, <%=name%>
    </h2>

    <div class="social-icons">
        <a href="/dashboard/profile"> <span class="ti-user"></span></a>
        <a class="btn-primary" href="/employees/logout">Logout</a>
    </div>
</header>