<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="/css/dash.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.0/dist/chart.min.js"></script>
</head>

<body>
    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span class="ti-unlink"></span>
                <span>dbmsproject</span>
            </h3>
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/dashboard">
                        <span class="ti-home"></span>
                        <span>Home</span>
                    </a>
                </li>

                <li>
                    <a href="/dashboard/orders">
                        <span class="ti-clipboard"></span>
                        <span>Orders</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/customers">
                        <span class="ti-folder"></span>
                        <span>Customers</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/staff_management">
                        <span class="ti-time"></span>
                        <span>Staff Management</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/profile">
                        <span class="ti-book"></span>
                        <span>Profile</span>
                    </a>
                </li>

                <li>
                    <a href="/dashboard/reports">
                        <span class="ti-pie-chart"></span>
                        <span>Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">

        <header>

            <h2 class="dash-welcome">Welcome, User123</h2>
            <!--<div class="search-wrapper">
                <span class="ti-search"></span>
                <input type="search" placeholder="Search">
            </div>-->

            <div class="social-icons">
                <span class="ti-user"></span>

            </div>
        </header>
        <main>
            <h2 class="dash-title">Reports page</h2>
            <canvas id="myChart" width="400" height="400"></canvas>
    
        
            <script>
            
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: report[i].date ,
                    datasets: [{
                        label: '# of Votes',
                        data: report[i].todaySales,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        
                        borderColor: 'rgba(255, 99, 132, 1)',
                            
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            </script>              
  
              <script>
            
                        async function getSales(){
                        var xs= [];
                        var ys= [];
            
                        for(let i=0; i<report.length;i++){
            
                        var ydata= report[i].todaySales;
                        ys.push(ydata);
                        var xdata= report[i].date;
                        xs.push(xdata);
                        }
            
                        return {xs,ys};
            
                    }
                </script>
                <script>

                    async function sales(){
                    var xs=[];
                    var ys= [];

                    report.forEach(element => {
                        xs.push(element.todaySales);
                        ys.push(element.d);
                        
                    });
                    return {xs,ys};

                    }

                </script>

        </main>

</body>

</html>



