<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="/css/dash.css">
</head>

<body>

    <%- include('partials/sidebar'); %>


        <div class="main-content">

            <header>

                <h2 class="dash-welcome">Welcome, User123</h2>
                <!--<div class="search-wrapper">
                <span class="ti-search"></span>
                <input type="search" placeholder="Search">
            </div>-->

                <div class="social-icons">
                    <a href="/dashboard/profile"> <span class="ti-user"></span></a>

                </div>
            </header>

            <main>
                <div class="activity-card">
                    <h3 class="dash-title">Available Reports</h3>
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Report Name</th>
                                    <th>Description</th>
                                    <th></th>


                                </tr>
                            </thead>

                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    Generate orders served for all time
                                </td>
                                <td>
                                    desc
                                </td>
                                <td>
                                    <a class="btn-secondary" href="/dashboard/newOrder"> Generate report</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    Generate all customer data
                                </td>
                                <td>
                                    desc
                                </td>
                                <td>
                                    <a class="btn-secondary" href="/dashboard/newOrder"> Generate report</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    Generate all employee data
                                </td>
                                <td>
                                    desc
                                </td>
                                <td>
                                    <a class="btn-secondary" href="/dashboard/newOrder"> Generate report</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    Generate Menu
                                </td>
                                <td>
                                    desc
                                </td>
                                <td>
                                    <a class="btn-secondary" href="/dashboard/newOrder"> Generate report</a>
                                </td>
                            </tr>



        </main>

        </div>

</body>

</html>