@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
	--main-color: #027581;
	--color-dark: #1d2231;
	--text-grey: #8390a2;
}

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}

#sidebar-toggle {
	display: none;
}

.sidebar {
	height: 100%;
	width: 240px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background: var(--main-color);
	color: #fff;
	overflow-y: auto;
	transition: width 500ms;
}

.sidebar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 0rem 1rem;
}

.sidebar-menu {
	padding: 1rem;
}

.sidebar li {
	margin-bottom: 1.5rem;
}

.sidebar a {
	color: #fff;
	font-size: 0.8rem;
	text-decoration: none;
}

.sidebar a span:last-child {
	padding-left: 0.6rem;
}

#sidebar-toggle:checked ~ .sidebar {
	width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
	display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
	display: flex;
	justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
	margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
	left: 60px;
	width: calc(100% - 60px);
}

.main-content {
	position: relative;
	margin-left: 240px;
	/* transition: margin-left 500ms; */
}

header {
	position: fixed;
	left: 240px;
	top: 0;
	z-index: 100;
	width: calc(100% - 240px);
	background: white;
	height: 60px;
	padding: 0rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	transition: left 500ms;
}

.search-wrapper {
	display: flex;
	align-items: center;
}

.search-wrapper input {
	border: 0;
	outline: 0;
	padding: 1rem;
	height: 38px;
}

.social-icons {
	display: flex;
	align-items: right;
	float: right;
}

.social-icons span,
.social-icons div {
	margin-right: 1.2rem;
	float: right;
}

.social-icons div {
	height: 10px;
	width: 38px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(imgs/profile.png);
	border-radius: 50%;
	margin-right: 1.2rem;
	float: right;
}

main {
	margin-top: 60px;
	background: #f1f5f9;
	min-height: 90vh;
	padding: 1rem 3rem;
}

.dash-title {
	color: var(--color-dark);
	margin-bottom: 1rem;
}

.dash-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 3rem;
	grid-row-gap: 2rem;
}
.dash-welcome {
	color: var(--color-dark);
	margin-bottom: 0.5rem;
	font-style: inherit;
}

.card-single {
	background: #fff;
	border-radius: 7px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-body {
	padding: 1rem 1rem;
	display: flex;
	align-items: left;
}

.card-body span {
	font-size: 1.5rem;
	color: #777;
	padding-right: 1.4rem;
}

.card-body h5 {
	color: var(--text-grey);
	font-size: 1rem;
}

.card-body h4 {
	color: var(--color-dark);
	font-size: 1.1rem;
	margin-top: 0.2rem;
}

.card-footer {
	padding: 0.1rem 0.5rem;
	background: #f9fafc;
}

.card-footer a {
	color: var(--main-color);
}

.recent {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.activity-grid {
	display: grid;
	grid-template-columns: 75% 25%;
	grid-column-gap: 1.5rem;
}

.activity-card,
.summary-card,
.bday-card {
	background: #fff;
	border-radius: 7px;
}

.activity-card {
	padding-top: 0.1rem;
}

.activity-card h3 {
	color: var(--text-grey);
	margin: 0.5rem 1rem;
}

.activity-card table {
	width: 100%;
	border-collapse: collapse;
}

.activity-card thead {
	background: #efefef;
	text-align: left;
}

th,
td {
	font-size: 0.9rem;
	padding: 1rem 1rem;
	color: var(--color-dark);
}

td {
	font-size: 0.8rem;
}

tbody tr:nth-child(even) {
	background: #f9fafc;
}

.badge {
	padding: 0.2rem 1rem;
	border-radius: 20px;
	font-weight: 700;
	font-size: 0.7rem;
}

.badge.success {
	background: #def7ec;
	color: var(--main-color);
}

.badge.warning {
	background: #f0f6b2;
	color: orange;
}

.td-team {
	display: flex;
	align-items: center;
}

.img-1,
.img-2,
.img-3 {
	height: 38px;
	width: 38px;
	border-radius: 50%;
	margin-left: -15px;
	border: 3px solid #efefef;
	background-size: cover;
	background-repeat: no-repeat;
}

.img-1 {
	background-image: url(img/1.jpg);
}

.img-2 {
	background-image: url(img/2.jpg);
}

.img-3 {
	background-image: url(img/3.jpeg);
}

.summary-card {
	margin-bottom: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.summary-single {
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
}

.summary-single span {
	font-size: 1.5rem;
	color: #777;
	padding-right: 1rem;
}

.summary-single h5 {
	color: var(--main-color);
	font-size: 1.1rem;
	margin-bottom: 0rem !important;
}

.summary-single small {
	font-weight: 700;
	color: var(--text-grey);
}

.bday-flex {
	display: flex;
	align-items: center;
	margin-bottom: 0.3rem;
}

.bday-card {
	padding: 1rem;
}

.bday-img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 3px solid #efefef;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(img/3.jpeg);
	margin-right: 0.7rem;
}

.text-center {
	text-align: center;
}

.text-center button {
	background: var(--main-color);
	color: #fff;
	border: 1px solid var(--main-color);
	border-radius: 4px;
	padding: 0.4rem 1rem;
}

.table-responsive {
	overflow-x: auto;
}

@media only screen and (max-width: 1200px) {
	.sidebar {
		width: 60px;
		z-index: 150;
	}

	.sidebar .sidebar-header h3 span,
	.sidebar li span:last-child {
		display: none;
	}

	.sidebar .sidebar-header,
	.sidebar li {
		display: flex;
		justify-content: center;
	}

	.main-content {
		margin-left: 60px;
	}

	.main-content header {
		left: 60px;
		width: calc(100% - 60px);
	}

	#sidebar-toggle:checked ~ .sidebar {
		width: 240px;
	}

	#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
	#sidebar-toggle:checked ~ .sidebar li span:last-child {
		display: inline;
	}

	#sidebar-toggle:checked ~ .sidebar .sidebar-header {
		display: flex;
		justify-content: space-between;
	}

	#sidebar-toggle:checked ~ .sidebar li {
		display: block;
	}

	#sidebar-toggle:checked ~ .main-content {
		margin-left: 60px;
	}

	#sidebar-toggle:checked ~ .main-content header {
		left: 60px;
	}
}

@media only screen and (max-width: 860px) {
	.dash-cards {
		grid-template-columns: repeat(2, 1fr);
	}

	.card-single {
		margin-bottom: 1rem;
	}

	.activity-grid {
		display: block;
	}

	.summary {
		margin-top: 1.5rem;
	}
}

@media only screen and (max-width: 600px) {
	.dash-cards {
		grid-template-columns: 100%;
	}
}

@media only screen and (max-width: 450px) {
	main {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

canvas{
	width:1500px !important ;
	height: 500px  !important;
}
