@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	margin: 0;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.6;
	text-align: left;
	background-color: #f1f5f9;
	font-family: "Poppins", sans-serif;
}

.my-form {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.my-form .row {
	margin-left: 0;
	margin-right: 0;
}

.login-form {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	display: flex;
	height: 100vh;
	align-items: center;
}

.login-form .row {
	margin-left: 0;
	margin-right: 0;
}
