:root {
    --main-color: #027581;
    --main-color-light: #0291a1;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

h2 {
    font-size: 1.5em;
}

.btn {
    grid-area: btn;

    cursor: pointer;
}

input {
    padding: 10px;
    border: 2px solid black;
}

.customer {
    grid-area: customerInput;
}

.dish {
    grid-area: dishInput;
}

.btn-new-customer {
    grid-area: newCustomer;
}

.qty {
    grid-area: qty;
}

.labelqty {
    grid-area: labelqty;
}

/* Food items */
.food-items {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: #fff;
    margin: 10px 0;
}

.food-item {
    padding: 10px;
    display: flex;
    width: 100%;
}

.qty {
    display: flex;
    width: 100px;
    justify-content: space-around;
}

.qty button,
.food-items li > button {
    background-color: #e1e5e9;
    border: none;
    border-radius: 25px;
    margin: 0 10px;
    font-size: inherit;
    padding: 0 10px;
}

.qty button:hover,
.food-items li > button:hover {
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
}

.price {
    margin-left: auto;
    margin-right: 20px;
}